$colors: (
  brand: #178AFF,
  brand-dark: #001B37,
  grey-100: #FAFAFB,
  grey-200: #F1F5F9,
  grey-250: #DAE0E7,
  grey-300: #667881,
  grey-400: #263238,
  white: #fff,
);

// Function for setting color in a declaration - e.g. background-color: color(brand);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
